<section class="home-hero">
  <img src="assets/pfp.jpg" alt="Photo of Ryan" class="profile-photo" />

    <h1>Hey, I'm Ryan</h1>
    <h2 class="tagline">Computer Science Student & Developer</h2>
    <p class="intro">
      I build software, design digital experiences, and enjoy solving challenging problems.
      Currently, I am studying CS at UNC Chapel Hill, with experience in Python, Angular, MIPS, FastAPI, and more.
    </p>
    <div class="home-buttons">
      <a routerLink="/projects" class="btn" routerLinkActive="active">View My Projects</a>
      <a routerLink="/about" class="btn secondary" routerLinkActive="active">Learn More</a>
    </div>
  </section>
