/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #007bff;
    --primary-dark: #0056b3;
    --secondary-color: #f0f0f0;
    --secondary-color-hover: #dcdcdc;
    --text-color: #333;
    --accent-color: #00c9a7;
    --bg-color: #f2eae2;
  }